/* Asterisk widecard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
   /* box-sizing: border-box;*/
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;


}

.main{
    background-color: #ccc;
    /* Make new main element to take all savailable space to push the footer down*/
    flex: 1 0 auto;
}

#square {
    width: 64px;
    height: 64px;
    opacity: 0.5;
    background: var(--M3-white, #FFF); /* Use white as fallback */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
.gradient1 {
    width: 1440px;
    height: 1393px;
    display: flex;
    padding: 134px 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 158px;
    align-self: stretch;
    background: linear-gradient(180deg, #F4F4F5 0%, #0E0D0D 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.gradient2 {
    width: 1440px;
    height: 1393px;
    display: flex;
    height: 1321px;
    padding: 157px 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 448px;
    align-self: stretch;
    background: linear-gradient(180deg, #030312 0%, #F13D1F 20.4%, #DEA67A 47.9%, #2B1722 61.4%, #021F5C 74.4%, #007CC0 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Navbar styling */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px;
    background-color: rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid #ddd;
    margin-bottom: 200px;
}

/* Logo styling */
.logo img {
    height: 20px;
    width: auto;
}

/* Navigation links */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-button {
    text-decoration: none;
    color: #0E0D0D;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-button:hover {
    background-color: #0E0D0D;
    color: #fff;
    border-color: #0E0D0D;
}

h1{
    color: #000;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 

}

#hero_section p{
    height: 118px;
    width: 867px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    
   
}


#products_section {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

#build_section {
    margin-top: 50px; 
    margin-bottom: 100px;
}
a {
    text-decoration: none;
  }


.primary_button{
    color: #FDFDFD;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    width: 210px;
    height: 59px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 32px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

footer {
    width: 1440px;
    height: 73px;
    display: flex;
    padding: 15px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    background: linear-gradient(0deg, #000 0%, #0E1C49 100%);
    color: #fffafa;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-content p {
    margin: 0;
    font-size: 16px;
    margin-right: 20px;
}
.social-icons {
    display: flex;
    gap: 35px;
    margin-top: 5px;
}

.social-icons a {
    text-decoration: none;
    color: #fffafa;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1da1f2; /* Twitter blue-like hover color */
}


